.lw { font-size: 60px; }
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: gray;
    color: white;
}

.active {
    background-color: gray;
    color: white;}
.money {
   display: block;
   margin: auto;
} 
.donatetitle {
  color:  black;
  text-align: center;
  font-size: 250%;
}
.heading {
  text-align: center;
}
